@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	overflow: hidden; /* Hide scrollbars */
	background-color: rgb(31, 111, 216);
}

#controle {
	float: right;
	text-align: center;
	padding-right: 1em;
	isolation: isolate;
	padding-bottom: 0.5em;
}

#logotipo {
	filter: invert(40%) sepia(0%) saturate(9%) hue-rotate(218deg) brightness(102%) contrast(100%);
	width: 150px;
	padding-bottom: -10em;
	margin-top: 0.2em;
	margin-bottom: -1em;
}

#minimize,
#maximize,
#close {
	height: 15px;
	width: 15px;
	margin-left: 0.5em;
	border: 0.1em solid rgba(0, 0, 0, 0.3);
	border-radius: 40%;
}

#minimize:hover {
	background-color: #f8b238;
}

#close:hover {
	background-color: #fd3939;
}

#maximize:hover {
	background-color: #01ac4b;
}

#close {
	background-color: #ff5c5c;
}

#minimize {
	background-color: #ffbd4c;
}

#maximize {
	background-color: #00ca56;
}

#close:active {
	background-color: #cc1e1e;
}

#minimize:active {
	background-color: #cc8b1b;
}

#maximize:active {
	background-color: #0b9145;
}

#loginbox {
	background-color: rgb(255, 255, 255) !important;
	border: 5px solid white;
	border-radius: 50%$;
	margin: 20% auto;
	display: flex;
	flex-direction: column;
	width: 35em;
	border-radius: 2em;
}

#logoimg {
	background-color: white;
	width: 50%;
	align-self: center;
}

#logoimg,
#email,
#password,
#passwordredo,
#username,
#loginbtn,
#cadastro {
	background-color: white;
	align-self: center;
	margin: 1em;
}

#password,
#email,
#passwordredo,
#username {
	width: 20em;
	height: 2em;
	border: 0.2em solid rgba(31, 111, 216, 0.3);
	border-radius: 5em;
	text-align: center;
}

#password:focus,
#email:focus,
#passwordredo:focus,
#username:focus {
	border: 0.2em solid rgba(31, 111, 216, 0.7);
}

#password::placeholder,
#email::placeholder,
#passwordredo::placeholder,
#username::placeholder {
	text-align: center;
	color: rgba(31, 111, 216, 0.7);
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
	text-align: center;
	color: rgba(31, 111, 216, 0.7);
}

#loginbtn {
	background-color: rgb(31, 111, 216);
	font-size: 1rem;
	color: white;
	border: none;
	border-radius: 5em;
	width: 16.7em;
	height: 3em;
}

#loginbtn:hover {
	cursor: pointer;
	background-color: rgb(17, 78, 158);
}

#loginbtn:active {
	background-color: rgb(7, 44, 92);
}

#cadastro {
	margin-top: -0.5em;
	text-decoration: none;
	color: rgb(31, 111, 216);
}

#cadastro:hover {
	color: rgb(7, 44, 92);
}
